<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_watch实现</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        computed和watch的区别：
            1.computed能完成的功能，watch都可以完成
            2.watch能完成的功能，computed不一定能完成（比如异步操作）
        重要原则：
            1.被Vue管理的函数，最好写成普通函数，这样this指向的才是vm对象
            2.不被Vue管理的函数，最好写成箭头函数，这样this才能指向vm对象
    -->
    <div class="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName"><br>
        全名：<span>{{fullName}}</span>
    </div>
    <script>
        Vue.config.productionTip = false // 阻止vue在启动时生成生产提示
    
        const vm = new Vue({
            el: '.root',
            data: {
                firstName: '张',
                lastName: '三',
                fullName: '张-三'
            },
            watch: {
                firstName(newValue) {
                    this.fullName = newValue + this.lastName
                },
                lastName(newValue) {
                    this.fullName = this.firstName + newValue
                }
            }
        })
    </script>
</body>
</html>