<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue监测数据改变的原理(数组)</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
</head>
<body>
<!--
    Vue监视数据的原理：
        1.Vue会监视data中所有层次中的数据
        2.如何监测对象中的数据？通过setter监视，且要在new Vue时就传入要监测的数据
            (1).对象中后追加的数据，Vue默认不做响应处理
            (2).如需给后添加的数据做响应式，则需要用 Vue.set 或 vm.$set
        3.如何监测数组中的数据？通过包裹数组原生的更新元素方法（push\shift\...）实现，其包裹方法的本质是
            (1).首先实现原生的数组更新元素方法，使数组元素更新
            (2).其次，重新解析Vue模板，进而更新页面
        4.在Vue中修改数组中的某个元素一定要用以下方法
            1.使用push\shift\pop\unshift\splice\sort\reverse这些API
            2.2.Vue.set或vm.$set对数组也生效
        注意：Vue。set和vm.$set不能给vm或vm的数据对象(vm.data/vm._data)添加属性
        特别地，数据劫持就是把vm中的data中的各个属性添加getter、setter实现数据响应托管

-->
    
    <div class="root">
        <h1>学生信息</h1>
        <button @click="student.age++">年龄+1</button><br>
        <button @click="addSex">添加性别属性，默认值:男</button><br>
        <button @click="addFriend">在列表首位添加一个朋友</button><br>
        <button @click="updateFriendName">修改第一个朋友的名字为张三</button><br>
        <button @click="addHobby">添加一个爱好</button><br>
        <button @click="updateHobby">修改第一个爱好为修车</button><br>
        <h2>姓名：{{student.name}}</h2>
        <h2>年龄：{{student.age}}</h2>
        <h2 v-if="student.sex">性别：{{student.sex}}</h2>
        <h2>爱好</h2>
        <ul>
            <li v-for="(h, index) in student.hobby" :key="index">
                {{h}}
            </li>
        </ul>
        <h2>朋友们</h2>
        <ul>
            <li v-for="(f, index) in student.friends" :key="index">
                {{f.name}}--{{f.age}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false // 阻止vue在启动时生成生产提示
    
        const vm = new Vue({
            el: '.root',
            data: {
                student: {
                    name: 'tom',
                    age: 18,
                    hobby: ['抽烟', '喝酒', '烫头'],
                    friends: [
                        {name: 'jerry', age: 35},
                        {name: 'tony', age: 36},
                    ]
                },
            },
            methods: {
                addSex() {
                    // Vue.set(this.student, 'sex', '男')
                    this.$set(this.student, 'sex', '男')
                },
                addFriend() {
                    this.student.friends.unshift({name: 'mark', age: 37})
                },
                updateFriendName() {
                    // this.student.friends.splice(0, 1, {name: '张三', age: 37})
                    // 注意，数组内的数据项没有get、set方法，只能由shift/push修改响应，但数组内的数据项若是对象，那对象内的的数据有get、set的
                    this.student.friends[0].name = '张三' 
                },
                addHobby() {
                    this.student.hobby.push('学习')
                },
                updateHobby() {
                    // this.student.hobby.splice(0, 1, '修车')
                    Vue.set(this.student.hobby, '0', '修车')
                },
            }
        })
    </script>
</body>
</html>