<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_计算属性实现</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
</head>
<body>
    
    <div class="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName"><br>
        全名：<span>{{fullName}}</span>
    </div>
    <script>
        Vue.config.productionTip = false // 阻止vue在启动时生成生产提示
    
        const vm = new Vue({
            el: '.root',
            data: {
                firstName: '张',
                lastName: '三'
            },
            computed: {
                // 完整写法
                // fullName: {
                //     get() {
                //         return this.firstName + '-' + this.lastName // 此处的this被Vue调整过，它的指向为vm
                //     },
                //     set(value ) {
                //         const arr = value.split('-')
                //         this.firstName = arr[0]
                //         this.lastName = arr[1]
                //     }
                // }

                // 简写，不需要set修改fullName时可以这么写，这个function就是set方法
                fullName: function() {
                    return this.firstName + '-' + this.lastName
                }
            }
        })
    </script>
</body>
</html>